/* for my custom style */


#h1-pre {
    text-align: center;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

#red-heart {
    position: absolute;
    display: inline-block;
    top: -36px;
    left: 372px;
    width: 240px;
    height: 240px;
    background: url("../asset/image/red-heart.png") no-repeat;
}