* {
    padding: 0;
    margin: 0;
    font-family: Serif;
}

html, body {
    min-height: 100% !important;
    height: 100%;
}

.white {
    color: white;
}

.black {
    color: black;
}

.page-container {
    width: 100%;
    height: 100%;
}

.page-top-title {
    position: relative;
    width: 100%;
    height: 10%;
    top: 2%;
    text-align: center;
    font-size: 140px;
    font-style: italic;

    color: black;
    /*
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    */
}

/* first page */

#wedding-day {
    position: relative;
    width: 100%;
    height: 15%;
    top: 2%;
    left: 3%;
    background: url("../asset/image/wedding-day-string.png") no-repeat;
}

#main-picture-container {
    position: relative;
    width: 90%;
    height: 95%;
    top: 5%;
    left: 5%;
    background: url("../asset/image/wedding-picture/main.jpg") no-repeat;
    background-size: 100% 95%;
}

#main-title-container {
    position: relative;
    top: 12%;
    width: 100%;
    text-align: center;
    color: black;
}

#main-title-container h1 {
    font-size: 70px;
}

#main-title-container h2 {
    margin-top: 10px;
    font-size: 60px;
}

#red-heart {
    position: absolute;
    display: inline-block;
    top: -20px;
    left: 45%;
    width: 100px;
    height: 100px;
    background: url("../asset/image/red-heart.png") no-repeat;
    background-size: 100px;
}

#main-title-bottom-container {
    position: relative;
    top: 63%;
    width: 100%;
    height: 10%;
    text-align: center;
    color: #7af7b3;
    font-size: 40px;
}

/* second page */

#lucky {
    left: 21%;
    position: relative;
    width: 600px;
    height: 490px;
    background: url("../asset/image/lucky.jpg") no-repeat;
    background-size: 600px;
    opacity: 0.5;
}

#invite-letter-picture {
    position: relative;
    width: 80%;
    height: 50%;
    left: 10%;
    top: 5%;
    background: url("../asset/image/wedding-picture/invite.png") no-repeat;
    background-size: 100%;
    border: dotted 7px black;
}

/* third page */

#map-container {
    width: 100%;
    top: 5%;
    height: 550px;
    border: solid 3px black;
}

#location-information {
    position: relative;
    width: 100%;
    top: 7%;
    height: 50%;
}

#information-image {
    position: relative;
    width: 90%;
    height: 100%;
    left: 5%;
    background: url("../asset/image/location-information.png") no-repeat;
    background-size: 100% 100%;
}

/* forth page */

#forth-page {
    position: relative;
    top: 10%;
}

#gallery-container {
    position: relative;
    width: 100%;
    top: 5%;
}

#lightgallery {
    position: relative;
    left: 5%;
    width: 90%;
}

.thumbnail-size {
    width: 32.5%;
    height: 32.5%;
}

#disqus_thread {
    position: relative;
    width: 100%;
    top: 20%;
}